body {
  font-family: "Varela Round", sans-serif;
  background-color: #f8f9fa;
}

.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.form-control:focus {
  border-color: #6c63ff;
  box-shadow: 0 0 0 0.2rem rgba(108, 99, 255, 0.25);
}

.submitBtn {
  border-radius: 1rem;
  background-color: #6c63ff;
  border-color: #6c63ff;
}

.submitBtn:hover {
  background-color: #5753d9;
  border-color: #5753d9;
}

/* Estilo de la tabla */
table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

thead {
  background-color: #4caf50;
  color: white;
}

th,
td {
  text-align: left;
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}
.users-table--edit {
  background-color: #5753d9; /* Color de fondo del botón */
  padding: 10px 15px; /* Tamaño del botón */
  color: #f1f1f1; /* Color del texto */
  text-align: center; /* Centrar texto */
  font-weight: bold; /* Texto en negrita */
  text-decoration: none; /* Quitar subrayado */
  border-radius: 5px; /* Bordes redondeados */
  display: inline-block; /* Asegura que el enlace se vea como botón */
  cursor: pointer; /* Cambia el puntero a una mano */
  transition: background-color 0.3s; /* Animación de color */
}

.users-table--edit:hover {
  background-color: #4340c0; /* Color del botón al pasar el ratón */
}
